body
{
    background-image: url("background-image.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page
{
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 1vw 1vw 3vw 1vw rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 55vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

p
{
    margin: 0;
}

.rule
{
    background-color: black;
    width: 53vw;
    margin-left:1vw;
    margin-right:1vw;
}

.resume-section-title
{
    margin: 0px;
    padding-left: 1vw;
    height: 2vw;
}

.resume-table
{
    display: grid;
    grid-template-columns: 11vw 32vw 11vw;
    width: 54vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

#education-table
{
    grid-template-columns: 12vw 31vw 11vw
}

#experience-table
{
    grid-template-columns: 19vw 24vw 8vw;
}

#leadership-table
{
    grid-template-columns: 10vw 37.5vw 9vw;
}

#skills-table
{
    grid-template-columns: 10vw 40vw;
}

.resume-row
{
    width: 53vw;
}

.resume-header-column-right
{
    width: 13vw;
}

.resume-header-column-left
{
    width: 13vw;
}

.resume-header-column-center
{
    width: 32vw;
}

.resume-education-column-right
{
    width: 13vw;
}

.resume-education-column-left
{
    width: 13vw;
}

.resume-education-column-center
{
    width: 30vw;
}

.resume-experience-column-right
{
    width: 10vw;
}

.resume-experience-column-left
{
    width: 18vw;
}

.resume-experience-column-center
{
    width: 24vw;
}

.resume-skills-column-left
{
    width: 10vw;
}

.resume-skills-column-right
{
    width: 40vw;
}

.resume-item-points
{
    margin-top: 3px;
    margin-bottom: 1.5vw;
}

.address
{
    text-align: left;
}

.contact-info
{
    text-align: center;
}